/* baseline */
* {
  box-sizing: border-box;
}

body {
  background: url('assets/wedding-landing-background.png');
  color: #444349;
}

.content {
  text-align: center;
}

.locations, .gifts, .contact {
  padding: .6rem 1rem;
  line-height: 150%;
}

footer, .tagline, .date {
  color: hsla(0,0%,100%,.9);
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  padding: .6rem 1rem;
}

@media (min-width: 768px) {

  h1 {
    font-size: 2.4rem;
  }
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2rem;
  padding: 0.625rem;
}

p, ul {
  font-family: 'Mulish', sans-serif;
}

.contact p {
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  padding: .6rem 1rem;
}

a {
  color: #bd806e;
  text-decoration: none;
}

a:hover {
  color: #eda087;
}

.program, .faq {
  background: url('assets/wedding-landing-background.png');
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  padding: .6rem 1rem;
  line-height: 150%;
}

.travel, .food, .other, .times {
  text-align: left;
  padding: .6rem 1rem;
}

/* header */

.cover {
  background: url('assets/wedding-landing-cover.jpg') no-repeat 76% center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
}

.header-wrapper {
  background-color: rgba(0,0,0,.7);
  height: auto;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.headline {
  color: #d2ba87;
  font-size: 4rem;
}

.tagline, .date {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.aline {
  height: 0;
  width: 200px;
  border: 1px solid white;
  margin-bottom: 20px;
  display: inline-block;
}

.line {
  height: 0;
  width: 30px;
  border: 1px solid white;
  margin: 5px;
  display: inline-block;
}

@media (min-width: 768px) {

  .header-wrapper {
    height: auto;
    width: 50vw;
  }

  .tagline {
    text-transform: uppercase;
  }

  .headline {
    font-size: 6rem;
  }
}

/* content */

.locations, .gifts, .contact {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: 8rem;
}

.plan, .times {
  margin-left: auto;
  margin-right: auto;
}

.plan {
  text-align: left;
  font-style: italic;
}

.que {
  font-weight: bold;
}

.locations .line {
  height: 0;
  width: 7rem;
  border: 1px solid #444349;
  display: inline-block;
}

.faq .line {
  height: 0;
  width: 10rem;
  border: 1px solid #d2ba87;
  display: inline-block;
  align-items: center;
}

.faq h2 {
  text-align: center;
}

@media (min-width: 768px) {

  .program-wrapper {
    width: 40vw;
    margin: 0 auto;
  }

  .ceremony, .photos, .party, .travel, .food, .other {
    display: inline-block;
    width: 32%;
  }

  .travel, .food, .other {
    vertical-align: top;
    padding: 2rem;
  }

  .locations .line, .faq .line {
    display: none;
  }
}

/* footer */

footer {
  height: 8vh;
  width: 100%;
  background-color: #606060;
  display: table;
  text-align: center;
  font-size: 0.9rem;
  padding: .25rem;
}

.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
}